@use 'colors';
@use 'font';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: colors.$black;
    font-weight: font.$weight-normal;
    font-size: font.$size-normal;
}

html,
body {
    margin: 0;
    padding: 0;
    border: none;
}

main {
    margin: 30px;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    font-weight: font.$thin;
    font-size: font.$biggest;
}

b {
    font-weight: font.$bold;
}

a[href] {
    text-decoration: none;
    color: colors.$blue;
}

a[href]:hover {
    text-decoration: underline;
}

.thin {
    font-weight: font.$thin;
}

.gap-below {
    margin-bottom: 30px;
}

.warning {
    background-color: colors.$orange;
    padding: 0;
    border-radius: 15px;
    font-weight: font.$bold;
    font-size: font.$bigger;
    padding: 10px;
    color: colors.$white;
    border: solid 1px colors.$light-gray;

    p {
        font-weight: font.$weight-normal;
        font-size: font.$size-normal;
        color: colors.$white;
    }
}

.invisible{
    opacity: 0;
}

.table-invisible {
    border: none;
    width: 100%;

    tr td:first-child {
        font-weight: font.$bold;
        width: min(50%, 200px);
    }
}

.badge {
    display: inline-block;
    padding: 4px;
    font-size: font.$smaller;
    background-color: colors.$light-gray;
    border-radius: 7px;
    color: colors.$white;
    margin-right: 5px;
    box-shadow: inset 0px 0px 3px -1px colors.$black;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    z-index: 100;

    .nav-item {
        flex-direction: row;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        color: colors.$black;
    }

    .nav-item:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

.technologies {
    padding-left: 30px;

    i::after {
        @extend .badge;
        font-style: normal;
    }

    i.maui::after {
        content: 'Maui.NET';
        background-color: colors.$purple;
    }

    i.cs::after {
        content: 'C#';
        background-color: colors.$green;
    }

    i.dotnet::after {
        content: '.NET';
        background-color: colors.$orange;
    }

    i.mongo::after {
        content: 'MongoDB';
        background-color: colors.$dark-green;
    }

    i.blazor::after {
        content: 'Blazor';
        background-color: colors.$blue;
    }

    i.c::after {
        content: 'C';
        background-color: colors.$red;
    }

    i.bootstrap::after {
        content: 'Bootstrap';
        background-color: colors.$purple;
    }

    i.rest::after {
        content: 'Rest API';
        background-color: colors.$pink;
    }
}

@media (min-width: 500px) {
    $width: 500px;

    nav {
        justify-content: center;
        box-shadow: colors.$light-light-gray 0 0 10px 10px;

        position: sticky;
        top: 10px;
        left: calc(50% - $width / 2);
        border-radius: 10px;
        width: $width;
    }
}

@media (max-width: 499.98px) {
    nav {
        justify-content: space-between;
        border-bottom: solid colors.$light-gray 1px;

        .nav-item {
            padding: 20px;
        }
    }
}