$light-light-blue: #9cd4ee;
$light-blue: #8ecae6;
$blue: #219ebc;
$dark-blue: #126782;
$dark-dark-blue: #023047;
$yellow: #ffb703;
$orange: #fb8500;
$red: #d90429;
$light-red: #ff3939;
$purple: #A95BBF;
$pink: #A90EAE;
$green: #568F43;
$dark-green: #3D6530;

$black: #101010;
$gray: #838383;
$light-gray: #b8b8b8;
$light-light-gray: #e7e7e7;
$white: #EEEEEE;