$light-blue: #8ecae6;
$blue: #219ebc;
$dark-blue: #023047;
$yellow: #ffb703;
$orange: #fb8500;
$red: #d90429;
$light-red: #ff3939;

$black: #101010;
$light-light-gray: #e7e7e7;
$light-gray: #b8b8b8;
$white: #EEEEEE;