@use 'colors';
@use 'base';
@use 'font';
@use 'badges';

.links {
    margin-top: 40px;
    padding-left: 30px;

    a {
        display: table;
        margin-top: 10px;
    }

    a::before {
        @extend .badge;
        content: 'Other';
        background-color: colors.$dark-blue;
    }

    a[href*="github.com"]::before {
        content: 'GitHub';
    }

    a[href*="github.com"][href$="/wiki"]::before {
        content: 'Wiki';
    }

    a[href*="play.google.com"]::before {
        content: 'Playstore';
    }

    a[href*="nuget.org"]::before {
        content: 'NuGet';
    }
}


@media (max-width: 650px) {
    .links {
        padding-left: 0;

        a {
            font-size: 0;
        }

        a::before {
            font-size: font.$size-normal;
        }

        a::after {
            font-size: font.$size-normal;
            content: 'Link';
            display: inline;
            visibility: visible;
        }
    }
}