@use 'colors';
@use 'base';
@use 'font';
@use 'badges';

.links {
    margin-top: 40px;
    padding-left: 30px;

    width: min(90%, 500px);


    a {
        display: table;
        margin-top: 10px;
        font-size: var(--size-smaller);
    }

    a::before {
        @extend .badge;
        content: 'Other';
        background-color: colors.$dark-blue;
        font-size: var(--size-smaller);
    }

    a[href*="github.com"]::before {
        content: 'GitHub';
    }

    a[href*="github.com"][href$="/wiki"]::before {
        content: 'Wiki';
    }

    a[href*="play.google.com"]::before {
        content: 'Playstore';
    }

    a[href*="nuget.org"]::before {
        content: 'NuGet';
    }
}


@media (max-width: 650px) {
    .links {
        padding-left: 0;

        a {
            font-size: 0;
        }

        a::before {
            font-size: var(--size-smaller);
        }

        a::after {
            font-size: var(--size-smaller);
            content: 'Link';
            display: inline;
            visibility: visible;
        }
    }
}