@use 'font';

.page.p2 {
    p {
        text-align: center;
        font-size: font.$bigger;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

@media (max-width: 900px) {
    .page.p2 {
        p {
            font-size: font.$big;
            font-size: font.$normal-big;
        }
    }
}
